.container {
    width: 100%;
    max-width: 900px;
}

input {
    background-color: #F7F7F7;
    font-size: 16px;
}

.invalid-feedback {
    color: red;
}

.bg {
    background-color: white;
    border-radius: 100%;
}

@media (max-width: 425px){
    .bg {
        border-radius: 0 !important;
    }
}